<div class="container">
    <div class="header" style="visibility: hidden; height: 0px">
        <p>Header</p>
    </div>

    <p><b class="header">New Post</b></p>

    <form>
        <table width="250px" >
            <tr style="height: 40px">
                <td width="60px">Text:</td>
                <td width="100px"><input type="text" id="text" ng-model="message.text" placeholder="Text"  focus-me="focusInput"></td>
            </tr>
            <!--
            <tr style="height: 40px">
                <td width="60px">Files:</td>
                <td width="100px"><input type="file" ng-file-select="onFileSelect($files)" ></td>
            </tr>
            -->
            <tr style="height: 40px">
                <td align="center" colspan="2"><button class="btn-success" ng-click="post()">Post</button>&nbsp;&nbsp;<button class="btn-default" ng-click="cancel()">Cancel</button></td>
            </tr>

        </table>
    </form>
    <alert style="color: #FF0000; font-weight: bold; font-style: italic; width: 250px" ng-show=showFeedback close="closeAlert()" type=alertType>{{status}}</alert>

    <div class="footer" style="visibility: hidden; height: 0px">
        <p>Footer</p>
    </div>
</div>