<div class="container">
    <div class="header" style="visibility: hidden; height: 0px">
        <p>Header</p>
    </div>

    <p><b class="header">New Post</b></p>

    <form name="messageForm" ng-submit="post()" novalidate>
        <table width="250px" >
            <tr style="height: 40px">
                <td width="60px">Text:</td>
                <td width="100px"><input type="text" id="text" ng-model="message.text" placeholder="Text"  focus-me="focusInput" maxlength="50" required="true"></td>
            </tr>

            <tr style="height: 40px">
                <td width="60px">Files:</td>
                <td width="100px"><input type="file" ng-file-select="onFileSelect($files)" multiple accept="image/*"></td>
            </tr>
            <tr>
                <td colspan="4">
                    <button type="button" ng-repeat="image in message.images" class="btn btn-danger" ng-click="deleteImage($index)">{{image.image.name| limitTo:12}}{{image.image.name.length > 12 ? '...' : ''}}</button>
                </td>
            </tr>
            <tr style="height: 40px">
                <td align="center" colspan="2">
                    <button type="submit" class="btn btn-primary" ng-disabled="messageForm.$invalid">Post</button>
                    &nbsp;&nbsp;<button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                </td>
            </tr>

        </table>
    </form>
    <alert style="color: #FF0000; font-weight: bold; font-style: italic; width: 250px" ng-show=showFeedback close="closeAlert()" type=alertType>{{status}}</alert>

    <div class="footer" style="visibility: hidden; height: 0px">
        <p>Footer</p>
    </div>
</div>