<div ng-controller="PostsCtrl" >
    <table ng-init="getPosts()" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>USER ID</th>
            <th>POST TEXT</th>
            <th>CREATED</th>
        </tr>
        </thead>
        <tbody ng-repeat="post in listOfPosts">
        <tr>
            <td>{{post.message.id}}</td>
            <td>{{post.message.userId}}</td>
            <td>{{post.message.text}}</td>
            <td>{{post.message.creationDate}}</td>
        </tr>
        </tbody>
    </table>
    <alert style="color: #FF0000; font-weight: bold; font-style: italic" ng-show=showFeedback close="closeAlert()" type=alertType>{{status}}</alert>
</div>
